body{
    background-color: #F6F6F6;
}

.container{
    padding-top: 50px;
}

.icon-app{
    font-size: 45px;
    margin-bottom: 10px;
    color: #8148d6;
}

a{
    color: #8148d6;
}

a.btn-primary{
    color: #fff;
}

.btn-primary{
    background-color: #8148d6 !important;
    border-color: #7833d6 !important;

}

textarea{
    margin-top: 5px;
    height: 90px !important;
}

input,
textarea,
.card{
    margin-bottom: 15px;
}

ul.clickable li:hover {
    background: #8148d6;
    color: white;
}

/*=================== Result page ====================*/

#result{
    padding-top: 18%;
}

.result-icon{
    margin-bottom: 15px;
    font-size: 80px;
}

.red {
    color: #c30000;
}

.green{
    color: limegreen;
}
